@tailwind base;
@layer base {
	:root {
		color-scheme: light;
		--theme-surface: 95% 0 295;
		--theme-surface-content: 15% 0.01 295;
		--theme-primary: 60% 0.23 300;
		--theme-neutral: 90% 0 295
		--theme-quote: 239 84% 67%;
		/* Code theme */
		--prism-background: #dddddd;
		--prism-color-text: #0d0d0d;
		/* Code theme tokens */
		--prism-token-constant: #b48ead;
		--prism-token-string: #a855f7;
		--prism-token-string-expression: #94a3b8;
		--prism-token-comment: #94a3b8 ;
		--prism-token-keyword: #6366f1;
		--prism-token-operator: #818cf8;
		--prism-token-parameter: #aa0000;
		--prism-token-function: #a21caf;
		--prism-token-punctuation: #818cf8;
		--prism-token-link: #a855f7;
		--prism-token-number: #b48ead;
		--prism-token-important: #bf616a;
		--prism-token-boolean: #d946ef;
	}

	:root.dark {
		color-scheme: dark;
		--theme-surface: 15% 0.01 295;
		--theme-surface-content: 95% 0 295;
		--theme-primary: 60% 0.23 300;
		--theme-neutral: 50% 0 295
		--theme-quote: 234 89% 74%;
		/* Code theme */
		--prism-background: #111118;
		--prism-color-text: #dddddd;
		/* Code theme tokens */
		--prism-token-constant: #b48ead;
		--prism-token-string:#a78bfa;
		--prism-token-string-expression: #94a3b8;
		--prism-token-comment: #94a3b8;
		--prism-token-keyword: #a5b4fc;
		--prism-token-operator: #a5b4fc;
		--prism-token-parameter: #aa0000;
		--prism-token-function: #f0abfc;
		--prism-token-punctuation: #a5b4fc;
		--prism-token-link: #a78bfa;
		--prism-token-number: #93c5fd;
		--prism-token-important: #bf616a;
		--prism-token-boolean: #e879f9;
	}

	html {
		@apply h-full scroll-smooth bg-surface text-surface-content transition-colors duration-500;
	}

	html body {
		@apply mx-auto flex h-full max-w-5xl flex-col px-8 pt-16 font-mono text-sm font-normal antialiased;
	}

	#snippet_container pre {
		@apply mb-12 md:w-full md:max-w-full;
	}

	pre {
		@apply relative;
	}

	.copy {
		@apply invisible sm:visible absolute top-2 right-2 px-2 py-1 rounded text-xs cursor-pointer;
	}

	.category-tag {
		@apply inline-block border border-primary text-primary rounded-md text-[10px] px-2 font-semibold mr-2 transition-all ease-in-out uppercase hover:opacity-90;
	}

	blockquote > p::before, blockquote > p::after {
		content: none !important;
	}

	blockquote {
		@apply bg-primary bg-opacity-5 py-0.5 rounded-sm
	}
}

@tailwind components;
@tailwind utilities;
