@tailwind base;
@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 210 20% 98%;
		--theme-link: 239 84% 67%;
		--theme-text: 202 10.5% 14.9%;
		--theme-accent: 239 84% 67%;
		--theme-accent-2: 0 0% 6.7%;
		--theme-quote: 239 84% 67%;
		--theme-menu-bg: hsl(210, 20%, 98% / 0.85);
		/* Code theme */
		--prism-background: #f3f4f6;
		--prism-color-text: #2e3440;
		/* Code theme tokens */
		--prism-token-constant: #b48ead;
		--prism-token-string: #a855f7;
		--prism-token-string-expression: #94a3b8;
		--prism-token-comment: #94a3b8 ;
		--prism-token-keyword: #6366f1;
		--prism-token-operator: #818cf8;
		--prism-token-parameter: #aa0000;
		--prism-token-function: #a21caf;
		--prism-token-punctuation: #818cf8;
		--prism-token-link: #ee0000;
		--prism-token-number: #b48ead;
		--prism-token-important: #bf616a;
		--prism-token-boolean: #d946ef;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 221 39% 11%;
		--theme-link: 234 89% 74%;
		--theme-text: 220 2.9% 79.4%;
		--theme-accent: 234 89% 74%;
		--theme-accent-2: 0 0% 93.3%;
		--theme-quote: 234 89% 74%;
		--theme-menu-bg: hsl(221 39% 11% / 0.85);
		/* Code theme */
		--prism-background: #1f2937;
		--prism-color-text: #f8f8f2;
		/* Code theme tokens */
		--prism-token-constant: #b48ead;
		--prism-token-string:#a78bfa;
		--prism-token-string-expression: #94a3b8;
		--prism-token-comment: #94a3b8;
		--prism-token-keyword: #a5b4fc;
		--prism-token-operator: #a5b4fc;
		--prism-token-parameter: #aa0000;
		--prism-token-function: #f0abfc;
		--prism-token-punctuation: #a5b4fc;
		--prism-token-link: #ee0000;
		--prism-token-number: #93c5fd;
		--prism-token-important: #bf616a;
		--prism-token-boolean: #e879f9;
	}

	html {
		@apply h-full scroll-smooth;
	}

	html body {
		@apply mx-auto flex h-full max-w-5xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}

	#snippet_container pre {
		@apply mb-12 md:w-full md:max-w-full;
	}

	#snippet_container a {
		@apply cactus-link;
	}

	pre {
		@apply relative;
	}

	.copy {
		@apply invisible sm:visible absolute top-2 right-2 px-2 py-1 rounded text-textColor text-xs cursor-pointer bg-bgColor;
	}
}

@tailwind components;
@tailwind utilities;
