---
import Bio from "@/components/Bio";
import PreviewItem from "@/components/PreviewItem";
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";
import type { Post } from "@/types";
import { sortMDByDate } from "@/util";

const meta = {
  title: "Home",
  description:
    "Hi there! I'm Ratul Maharaj, and this is my little corner of the internet where I share my thoughts and experiences with programming.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.md");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
  <section class="grid grid-cols-1 gap-y-8">
    <Bio />
    <div class="flex gap-x-4">
      <p>Find me on:</p>
      <SocialList />
    </div>
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="mb-4 uppercase font-bold">Recent Posts</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map((p) => (
          <li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
            <a href={p.url}>
              <PreviewItem post={p} />
            </a>
          </li>
        ))
      }
    </ul>
    <br />
    <a
      href="/posts"
      class="hover:bg-surface-content/5 hover:px-4 rounded-md transition-all duration-500 py-2 cursor-pointer"
      >See all posts &rarr;</a
    >
  </section>
</PageLayout>
