<div class="flex flex-col gap-y-4">
  <p>
    Hi there! my name is Ratul Maharaj - welcome to my corner of the internet 👋
  </p>
  <p>
    This blog serves to document some of my learnings and insights on the quest
    of becoming a creator of impactful software. I hope you find it useful!
  </p>
</div>
