---
const year = new Date().getFullYear();
import SocialList from "./SocialList.astro";
---

<footer class="py-4 mt-20 grid grid-cols-2 place-content-center">
  <div class="flex items-center justify-start text-sm">
    &copy; Ratul Maharaj {year}&nbsp;<span aria-label="rocket emoji">🚀</span>
  </div>
  <div class="flex items-center justify-end">
    <SocialList />
  </div>
</footer>
