---
interface Props {
  rss?: boolean;
  github?: boolean;
}

const { rss = true, github = true } = Astro.props;
---

<ul class="flex items-center gap-x-4 m-0 p-0 list-none">
  {
    github && (
      <li class="w-5 h-5" title="GitHub">
        <a
          href="https://github.com/RatulMaharaj"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 fill-surface-content hover:fill-primary transition-all duration-200"
            viewBox="0 0 256 256"
          >
            <path d="M216,104v8a56.06,56.06,0,0,1-48.44,55.47A39.8,39.8,0,0,1,176,192v40a8,8,0,0,1-8,8H104a8,8,0,0,1-8-8V216H72a40,40,0,0,1-40-40A24,24,0,0,0,8,152a8,8,0,0,1,0-16,40,40,0,0,1,40,40,24,24,0,0,0,24,24H96v-8a39.8,39.8,0,0,1,8.44-24.53A56.06,56.06,0,0,1,56,112v-8a58.14,58.14,0,0,1,7.69-28.32A59.78,59.78,0,0,1,69.07,28,8,8,0,0,1,76,24a59.75,59.75,0,0,1,48,24h24a59.75,59.75,0,0,1,48-24,8,8,0,0,1,6.93,4,59.74,59.74,0,0,1,5.37,47.68A58,58,0,0,1,216,104Z" />
          </svg>
          <span class="sr-only">Github</span>
        </a>
      </li>
    )
  }
  <li class="w-5 h-5" title="Mastodon">
    <a href="https://fosstodon.org/@RatulMaharaj" target="_blank" rel="me">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 fill-surface-content hover:fill-primary transition-all duration-200"
        viewBox="0 0 256 256"
        ><path
          d="M184,32H72A40,40,0,0,0,32,72V192a40,40,0,0,0,40,40h88a8,8,0,0,0,0-16H72a24,24,0,0,1-24-24v-8H184a40,40,0,0,0,40-40V72A40,40,0,0,0,184,32Zm0,104a8,8,0,0,1-16,0V104a16,16,0,0,0-32,0v32a8,8,0,0,1-16,0V104a16,16,0,0,0-32,0v32a8,8,0,0,1-16,0V104a32,32,0,0,1,56-21.13A32,32,0,0,1,184,104Z"
        ></path></svg
      >
      <span class="sr-only">Mastodon</span>
    </a>
  </li>
  <li class="w-5 h-5" title="X (formerly Twitter)">
    <a href="https://x.com/ratulmaharaj" target="_blank" rel="me">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 fill-surface-content hover:fill-primary transition-all duration-200"
        viewBox="0 0 256 256"
        ><path
          d="M215,219.85a8,8,0,0,1-7,4.15H160a8,8,0,0,1-6.75-3.71l-40.49-63.63L53.92,221.38a8,8,0,0,1-11.84-10.76l61.77-68L41.25,44.3A8,8,0,0,1,48,32H96a8,8,0,0,1,6.75,3.71l40.49,63.63,58.84-64.72a8,8,0,0,1,11.84,10.76l-61.77,67.95,62.6,98.38A8,8,0,0,1,215,219.85Z"
        ></path></svg
      >
      <span class="sr-only">X</span>
    </a>
  </li>
  <li class="w-5 h-5" title="LinkedIn">
    <a
      href="https://linkedin.com/in/ratulmaharaj"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 fill-surface-content hover:fill-primary transition-all duration-200"
        viewBox="0 0 256 256"
        ><path
          d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24ZM96,176a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0ZM88,96a12,12,0,1,1,12-12A12,12,0,0,1,88,96Zm96,80a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140Z"
        ></path></svg
      >
      <span class="sr-only">LinkedIn</span>
    </a>
  </li>
  {
    rss && (
      <li class="w-5 h-5" title="RSS Feed">
        <a href="/rss.xml" target="_blank" rel="noopener noreferrer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 fill-surface-content hover:fill-primary transition-all duration-200"
            viewBox="0 0 256 256"
          >
            <path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM76,192a12,12,0,1,1,12-12A12,12,0,0,1,76,192Zm44,0a8,8,0,0,1-8-8,40,40,0,0,0-40-40,8,8,0,0,1,0-16,56.06,56.06,0,0,1,56,56A8,8,0,0,1,120,192Zm32,0a8,8,0,0,1-8-8,72.08,72.08,0,0,0-72-72,8,8,0,0,1,0-16,88.1,88.1,0,0,1,88,88A8,8,0,0,1,152,192Zm32,0a8,8,0,0,1-8-8A104.11,104.11,0,0,0,72,80a8,8,0,0,1,0-16A120.13,120.13,0,0,1,192,184,8,8,0,0,1,184,192Z" />
          </svg>
          <span class="sr-only">RSS</span>
        </a>
      </li>
    )
  }
</ul>
