---
import Pagination from "@/components/Paginator";
import PreviewItem from "@/components/PreviewItem";
import Tags from "@/components/Tags";
import PageLayout from "@/layouts/Base";
import type { MDXInstance, Page, Snippet } from "@/types";
import { getAllTags, sortMDByDate } from "src/util";

export async function getStaticPaths({ paginate }) {
	const allSnippets = await Astro.glob<Snippet>("./*.mdx");
	const allSnippetsByDate = sortMDByDate(allSnippets);
	const allTags = getAllTags(allSnippets);
	return paginate(allSnippetsByDate, { props: { allTags }, pageSize: 10 });
}

export interface Props {
	page: Page<MDXInstance<Snippet>>;
	allTags: string[];
}

const { page, allTags } = Astro.props as Props;

const meta = {
	title: "Snippets",
	description: "A collection of code snippets I find useful.",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">Snippets</h1>
	<div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
		<section aria-label="Blog Snippet list">
			<ul class="text-left space-y-8">
				{
					page.data.map((p) => (
						<li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
							<PreviewItem post={p} as="h4" withDesc />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>
		<Tags allTags={allTags}/>
	</div>
</PageLayout>
